<%months = {1=>"Janvier", 2=>"Février", 3=>"Mars", 4=>"Avril", 5=>"Mai", 6=>"Juin", 7=>"Juillet", 8=>"Août", 9=>"Septembre", 10=>"Octobre", 11=>"Novembre", 12=>"Décembre"}%>
<% content_for :title do %>SISCan Quoi du Neuf<%end%>
<% content_for :date do %><%=Time.now.strftime("%Y-%m-%d")%><%end%>

<h1>Quoi du neuf</h1>
<div class="row">
	<div class="col-md-10">
	<section>
		<h3>Dernières mises à jour</h3>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th id="ttl">Titre</th> 
					<th id="dte">Date</th>  
				</tr>  
			</thead>
			<tbody>
				<%for item in @neuws do%>
				<tr>
					<th id="r<%=item.id%>" headers="dte"><%if item.url_fr == "" then%><%=item.title_fr%><%else%><a href="<%=item.url_fr%>"><%=item.title_fr%></a><%end%></th>
					<td headers="ttl r<%=item.id%>"><%=months[item.created_at.month]%> <%=item.created_at.strftime("%Y")%></td>
				</tr>
				<%end%>
			</tbody>
		</table>
	</section>
	<section>
		<h3>Chronologie historique du site web SISCan</h3>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th id="ttl">Titre</th> 
					<th id="dte">Date</th>  
				</tr>  
			</thead>
			<tbody>
				<%for item in @oldNeuws do%>
				<tr>
					<th id="r<%=item.id%>" headers="dte"><%if item.url_fr == "" then%><%=item.title_fr%><%else%><a href="<%=item.url_fr%>"><%=item.title_fr%></a><%end%></th>
					<td headers="ttl r<%=item.id%>" align="right"><%=months[item.created_at.month]%> <%=item.created_at.strftime("%Y")%></td>
				</tr>
				<%end%>
			</tbody>
		</table>
	</section>
</div>
</div>
