<%region_name = Region.find_by_code(params[:province].upcase).name_en%>
<% content_for :title do %>Variants for <%=region_name%> soil code <%=@variants[0].soil_code%> (<%=@variants[0].soilname%>)<%end%>
<% content_for :date do %>2013-06-26<%end%>

<h1>Variants for <%=region_name%> soil code <%=@variants[0].soil_code%> (<%=@variants[0].soilname%>)</h1>

<table class="widthFull">
<caption class="blueBG alignCenter white"><strong>Soil Characteristics</strong></caption>
<thead>
<tr>
	<th colspan="3"></th>
	<th scope="colgroup" colspan="3">Parent Material (uppermost)</th>
</tr>
</thead>
<tbody>
<tr>
	<th scope="col"><a href="/cansis/nsdb/soil/v2/snt/soil_id.html">SOIL_ID</a></th>
	<th scope="col"><a href="/cansis/nsdb/soil/v2/snt/profile.html">Profile</a></th>
	<th scope="col"><a href="/cansis/nsdb/soil/v2/snt/drainage.html">Drainage</a></th>
	<th scope="col"><a href="/cansis/nsdb/soil/v2/snt/mdep1.html">Mode of Deposition</a></th>
	<th scope="col"><a href="/cansis/nsdb/soil/v2/snt/pmtex1.html">Texture</a></th>
	<th scope="col"><a href="/cansis/nsdb/soil/v2/snt/pmchem1.html">Chemical Properties</a></th>
</tr>
<%for variant in @variants do%>
<tr>
	<td><a href="/<%=params[:rootdir]%>/soils/<%=params[:province]%>/<%=variant.soil_code%>/<%=variant.modifier%>/<%=variant.profile%>/description.html"><%=variant.soil_id%></a></td>
	<td><%if variant.profile=="N" then%>Native<%else%>Agricultural<%end%></td>
	<td><%drainage = Datavalue.where(:classesuri=>"http://sis.agr.gc.ca/cansis/nsdb/soil/v1/snt/drainage", :identifier=>variant.drainage).first%><%=drainage.title_en%></td>
	<td><%mdep = Datavalue.where(:classesuri=>"http://sis.agr.gc.ca/cansis/nsdb/soil/v1/snt/mdep", :identifier=>variant.mdep1).first%><%=mdep.title_en%></td>
	<td><%pmtex = Datavalue.where(:classesuri=>"http://sis.agr.gc.ca/cansis/nsdb/soil/v1/snt/pmtex", :identifier=>variant.pmtex1).first%><%=pmtex.title_en%></td>
	<td><%pmchem = Datavalue.where(:classesuri=>"http://sis.agr.gc.ca/cansis/nsdb/soil/v2/snt/pmchem", :identifier=>variant.pmchem1).first%><%=pmchem.title_en%></td>
</tr>
<%end%>
</tbody>
</table>
