# encoding: iso-8859-1
<%of_region = Region.find_by_code(params[:province].upcase).possessive_fr%>
<% content_for :title do %>Les séries de sols <%=of_region%><%end%>
<% content_for :date do %>2013-06-26<%end%>

<h1>Les séries de sols <%=of_region%></h1>

<table>
<tr>
	<th scope="col">Nom du sol</th>
	<th scope="col">Modificateurs</th>
	<th scope="col">Profils</th>
</tr>
<%for soilcode in @soilcodes do%>
<tr>
	<td><%=soilcode.soilname%> (<%=soilcode.soil_code%>)</td>
	<td><a href="/<%=params[:rootdir]%>/soils/<%=params[:province]%>/<%=soilcode.soil_code%>/modifiers.html">modificateurs</a></td>
	<td><a href="/<%=params[:rootdir]%>/soils/<%=params[:province]%>/<%=soilcode.soil_code%>/variants.html">profils</a></td>
</tr>
<%end%>
</table>
