# encoding: iso-8859-1
<% content_for :title do %><%= @attribute.titleprefix_fr%><%= @attributedescription.title_fr%><%= @attribute.titlesuffix_fr%><%end%>
<% content_for :date do %>2013-06-25<%end%>

<h1><%= @attribute.titleprefix_fr%><%= @attributedescription.title_fr%><%= @attribute.titlesuffix_fr%></h1>

<div class="row">
<div class="col-md-10">
<table class="table table-bordered">
<caption class="blueBG alignCenter white"><strong>Définition</strong></caption>
<tbody>
	<tr>
		<th scope="row">Nom</th>
		<td><%= @attribute.attributename_fr.upcase%></td>
	</tr>
	<tr>
		<th scope="row">Titre</th>
		<td><%= @attribute.titleprefix_fr%><%= @attributedescription.title_fr%><%= @attribute.titlesuffix_fr%></td>
	</tr>
	<tr>
		<th scope="row">Description</th>
		<td><%= raw @attributedescription.abstract_fr%></td>
	</tr>
	<%if @attributedescription.shortuom_fr != "n/a" then%>
	<tr>
		<th scope="row">Unités</th>
		<td><%= @attributedescription.longuom_fr%> (<%= @attributedescription.shortuom_fr%>)</td>
	</tr>
	<%end%>
	<%if @classes.abstract_fr != "n/a" then%>
	<tr>
		<th scope="row">Catégories</th>
		<td><%= raw @classes.abstract_fr%></td>
	</tr>
	<%end%>
</tbody>
</table>
</div>
</div>

<%for valuegroup in @valuegroups do%>
<br />
<br />
<div class="row">
<div class="col-md-10">
<table class="table table-bordered">
	<caption class="blueBG alignCenter white"><strong><%if valuegroup.valuegroup == "none" then%>Catégories<%else%><%=valuegroup.name_fr%><%end%></strong></caption>
	<thead>	
		<tr>
			<th scope="col">Code</th>
			<th scope="col">Catégorie</th>
			<th scope="col">Description</th>
		</tr>
	</thead>
	<tbody>
<%for value in @values do%>
	<%if valuegroup.valuegroup == value.valuegroup then%>
		<tr>
			<td><%=value.identifier%></td>
			<td><%=value.title_fr%></td>
			<td><%=raw value.abstract_fr%></td>
		</tr>
	<%end%>
<%end%>
	</tbody>
</table>
</div>
</div>
<%end%>
