<% content_for :title do %><%=@mapSet.title_en%><%end%>
<% content_for :date do %>2013-06-25<%end%>

<h1><%=@mapGroup.title_en%></h1>

<section>
<h2><%=@mapSet.title_en%></h2>

<p><%= raw @mapSet.abstract_en%></p>

<%if @mapSet.kml_index == "Y" then%>
<p>This index is available as a <a href="index.kml">KML file</a>.</p>
<%end%>

<table class="table table-bordered">
<caption class="blueBG alignCenter white"><strong>Maps</strong></caption>
<thead> 
  <tr>
    <th id="id">Identifier</th>
    <th id="ti">Title</th>
    <th id="vm">View Map</th><%if @mapSet.descriptions == "Y" then%>
    <th id="vd">View Description</th><%end%>
  </tr>
</thead>  
<tbody><%for map in @mapSheets do%><%if map.language != "fr" then%>
  <tr>
    <th headers="id" id="<%=map.mapsheet%>.<%=map.format%>"><%=map.mapsheet%></th>
    <td headers="ti <%=map.mapsheet%>.<%=map.format%>"><%=map.title_en%></td>
    <td headers="vm <%=map.mapsheet%>.<%=map.format%>" class="alignCenter"><%if map.scanned == "Y" then%><a href="/cansis/publications/maps/<%=@mapSet.subdirectory%>/<%=@mapSet.subdirectory.gsub("/","_")%>_<%=map.mapsheet%>.<%=map.format%>">Map (JPG Format)</a><%else%>n/a<%end%></td><%if @mapSet.descriptions == "Y" then%>
    <td headers="vd <%=map.mapsheet%>.<%=map.format%>" class="alignCenter"><%if map.scanned == "Y" and map.description == "Y" then%><a href="/cansis/publications/maps/<%=@mapSet.subdirectory%>/<%=@mapSet.subdirectory.gsub("/","_")%>_<%=map.mapsheet%>.pdf">Description (PDF Format)</a><%end%></td><%end%>
  </tr><%end%><%end%>
</tbody>	
</table>
</section>
