<h2>@dataset</h2><%==debug(@dataset)%>
<h2>@attribute</h2><%=debug(@attribute)%>
<h2>@attributedescription</h2><%=debug(@attribute.attributedescription)%>
<h2>kind</h2><%=@attribute.attributedescription.kind%>
<h2>@rowsetArray</h2><%=debug(@rowsetArray)%>
<%=@rowsetArray%>
<h2>@polygonsHash</h2><%=debug(@polygonsHash)%>
<h2>@classificationArray</h2><%=debug(@classificationArray)%>
<h2>@exceptionsArray</h2><%=debug(@exceptionsArray)%>
<h2>@exceptionValuesArray</h2><%=debug(@exceptionValuesArray)%>
<h2>params</h2><%=debug(params)%>
<h2>@lang</h2><%=debug(@lang)%>
