<% content_for :title do %>CanSIS Pictures<%end%>
<% content_for :date do %>2021-03-05<%end%>
<% content_for :breadcrumb do %><%end%>

<div class="alignCenter">
<!--region selector-->
<nav>
<%for region in @allregions do%>
  <%if @displayHash[region.region_id]==true then%>
    <%if region.region_id==@region.region_id then%>
      <%=region.smalltitle_en%>
    <%else%>
      <a href="/<%=params[:rootdir]%>/images/<%=region.region_id%>/<%=@factor.factor_id%>/index.html"><%=region.smalltitle_en%></a>
    <%end%>
    <%if region.region_id!=@last_region_id then%> | 
    <%end%>
  <%end%>
<%end%>
</nav>

<h1><%=@factor.fulltitle_en%> in <%=@region.inlinetitle_en%></h1>

<!--landscape and soil images-->
<%for image in @images do%>
	<figure>
		<a href="<%=image.url%>.jpg"><img src="<%=image.url%>2.jpg" alt="View a larger version of this image (jpg).  (<%=image.title_en%>)" /></a><br />
		<figcaption>
			<strong><%=image.title_en%></strong><br />
			<%=image.abstract_en%><br /><br /> 
		</figcaption>
	</figure>
	<hr />
<%end%>

</div>
