<!DOCTYPE html>
<!--[if lt IE 9]><html class="no-js lt-ie9" lang="en" dir="ltr"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en" dir="ltr"><!--<![endif]-->
<head>

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta charset="utf-8">

	<title><%= yield :title%></title>
	<meta content="width=device-width,initial-scale=1" name="viewport">
	<meta name="description" content="Canadian soil information">
	<meta name="dc.creator" content="Government of Canada, Agriculture and Agri-Food Canada">
	<meta name="dc.title" content="Canadian Soil Information Service">
	<meta name="dc.issued" title="W3CDTF" content="2013-12-13">
	<meta name="dc.modified" title="W3CDTF" content="2015-04-09">
	<meta name="dc.subject" content="Soil information">
	<meta name="dc.language" title="ISO639-2" content="eng">

	<!-- Load closure template scripts -->
	<script type="text/javascript" src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/rn/cdts/compiled/soyutils.js"></script>
	<script type="text/javascript" src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/rn/cdts/compiled/wet-en.js"></script>
	<noscript>
		<!-- Write closure fall-back static file -->
		<%= render file: Rails.public_path.join("wet-v4.0.27", "refTop.html") %>
	</noscript>
	<!-- Write closure template -->
	<script type="text/javascript">
		document.write(wet.builder.refTop({
		}));
	</script>
</head>
<body>
	<div id="def-top">
		<!-- Write closure fall-back static file -->
		<%= render file: Rails.public_path.join("wet-v4.0.27", "top-en.html") %>
	</div>
	<!-- Write closure template -->
	<script type="text/javascript">
		var defTop = document.getElementById("def-top");
		defTop.outerHTML = wet.builder.top({
			cdnEnv: "prod",
			lngLinks: [{
				lang: "fr",
				href: "/siscan/<%=self.request.path[8..-1]%>",
				text: "Français"
			}],
			breadcrumbs: [{
				title: "Home",
				href: "http://www.agr.gc.ca/index_e.php"
			},
			{
				title: "CanSIS",
				href: "/cansis/index.html"
			},
			<%for crumb in @breadcrumbsArray do%>
				{title: "<%= crumb.title_en %>",
				href: "/<%=params[:rootdir]%>/<%= crumb.dir %>/<%=crumb.filename%>"
			}, <%end%>
			]
		});
	</script>

	<main id="wb-cont" class="container" role="main" property="mainContentOfPage" typeof="WebPageElement">
		<%=yield%>
		<div id="def-preFooter">
			<!-- Write closure fall-back static file -->
			<%= render file: Rails.public_path.join("wet-v4.0.27", "preFooter-en.html")%>
		</div>
		<!-- Write closure template -->
						
		<script type="text/javascript">
			var defPreFooter = document.getElementById("def-preFooter");
			defPreFooter.outerHTML = wet.builder.preFooter({
				dateModified: "<%=yield :date%>",
				showShare: false,
				showFeedback: <%if request.env['PATH_INFO'] != "/cansis/contact.html"%>"/cansis/contact.html"<%else%>false<%end%>
			});
		</script>

	</main>
		
	<div id="def-footer">
		<!-- Insert static fall-back -->
		<%= render file: Rails.public_path.join("wet-v4.0.27", "footer-en.html") %>
	</div>
	<!-- Write closure template -->
	<script type="text/javascript">
		var defFooter = document.getElementById("def-footer");
		defFooter.outerHTML = wet.builder.footer({
		});
	</script>
	<!-- Write closure template -->
	<script type="text/javascript">
		document.write(wet.builder.refFooter({
		}));
	</script>
	</body>
</html>
