<!DOCTYPE html>
<!--[if lt IE 9]><html class="no-js lt-ie9" lang="en" dir="ltr"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en" dir="ltr"><!--<![endif]-->
<head>

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta charset="utf-8">

	<title><%= yield :title%></title>
	<meta content="width=device-width,initial-scale=1" name="viewport">
	<meta name="description" content="Canadian soil information">
	<meta name="dc.creator" content="Government of Canada, Agriculture and Agri-Food Canada">
	<meta name="dc.title" content="Canadian Soil Information Service">
	<meta name="dc.issued" title="W3CDTF" content="2013-12-13">
	<meta name="dc.modified" title="W3CDTF" content="2015-04-09">
	<meta name="dc.subject" content="Soil information">
	<meta name="dc.language" title="ISO639-2" content="eng">

	<!-- Load closure template scripts -->
	<script type="text/javascript" src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/rn/cdts/compiled/soyutils.js"></script>
	<script type="text/javascript" src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/rn/cdts/compiled/wet-en.js"></script>
	<noscript>
		<!-- Write closure fall-back static file -->
		<%= render file: Rails.public_path.join("wet-v4.0.27", "refTop.html") %>
	</noscript>
	<!-- Write closure template -->
	<script type="text/javascript">
		document.write(wet.builder.refTop({
		}));
	</script>
</head>
<body>
	<div id="def-top">
		<!-- Write closure fall-back static file -->
		<%= render file: Rails.public_path.join("wet-v4.0.27", "top-en.html") %>
	</div>
	<!-- Write closure template -->
	<script type="text/javascript">
		var defTop = document.getElementById("def-top");
		defTop.outerHTML = wet.builder.top({
			cdnEnv: "prod",
			lngLinks: [{
				lang: "fr",
				href: "/siscan/<%=self.request.path[8..-1]%>",
				text: "Français"
			}],
			breadcrumbs: [{
				title: "Home",
				href: "http://www.agr.gc.ca/index_e.php"
			},
			{
				title: "CanSIS",
				href: "/cansis/index.html"
			},
			<%for crumb in @breadcrumbsArray do%>
				{title: "<%= crumb.title_en %>",
				href: "/<%=params[:rootdir]%>/<%= crumb.dir %>/<%=crumb.filename%>"
			}, <%end%>
			]
		});
	</script>

	<main role="main" property="mainContentOfPage" typeof="WebPageElement" class="container">
		<%=yield%>
		<div id="def-preFooter">
			<!-- Write closure fall-back static file -->
			<%= render file: Rails.public_path.join("wet-v4.0.27", "preFooter-en.html")%>
		</div>
		<!-- Write closure template -->
						
		<script type="text/javascript">
			var defPreFooter = document.getElementById("def-preFooter");
			defPreFooter.outerHTML = wet.builder.preFooter({
				dateModified: "<%=yield :date%>",
				showShare: false,
				showFeedback: <%if request.env['PATH_INFO'] != "/cansis/contact.html"%>"/cansis/contact.html"<%else%>false<%end%>
			});
		</script>

	</main>
	<%if @columns != 1 then %>
	<nav class="wb-sec col-md-3 col-md-pull-9" typeof="SiteNavigationElement" id="wb-sec" role="navigation">
		<!-- Insert static fall-back -->
		<%= render file: Rails.public_path.join("wet-v4.0.27", "secMenu-en.html") %>
	</nav>
	<script type="text/javascript">
		var secondarymenu = document.getElementById("wb-sec");
		secondarymenu.innerHTML = wet.builder.secmenu({
			sections: [{
				sectionName: "Maps", 
				menuLinks: [{
					href: "/cansis/publications/maps/index.html", 
					text: "Printed maps"
				},{
					href: "/cansis/publications/webmaps.html",
					text: "Web maps"
				}]
			},{
				sectionName: "Data", 
				menuLinks: [{
					href: "/cansis/nsdb/ecostrat/index.html",
					text: "Ecological Framework"
				},{
					href: "/cansis/nsdb/slc/index.html",
					text: "Soil Landscapes of Canada"
				}, {
					href: "/cansis/nsdb/cli/index.html",
					text: "Canada Land Inventory"
				}, {
					href: "/cansis/nsdb/dss/index.html",
					text: "Soil Survey Data"
				}]
			},{
				sectionName: "Publications", 
				menuLinks: [{
					href: "/cansis/publications/surveys/index.html",
					text: "Soil Survey Reports"
				},{
					href: "/cansis/publications/manuals/index.html",
					text: "Reference Manuals"
				}]
			},{
				sectionName: "More", 
				menuLinks: [{
					href: "/cansis/images/index.html",
					text: "Photo Gallery"
				},{
					href: "/cansis/glossary/index.html",
					text: "Glossary"
				},{
					href: "/cansis/index-site.html",
					text: "Site Map"
				},{
					href: "/cansis/neuw.html",
					text: "What's New"
				},{
					href: "/cansis/faq.html",
					text: "FAQ"
				},{
					href: "/cansis/contact.html",
					text: "Contact CanSIS"
				}]
			}]
		});
	</script>

<%end%>
		
	
	
	<div id="def-footer">
		<!-- Insert static fall-back -->
		<%= render file: Rails.public_path.join("wet-v4.0.27", "footer-en.html") %>
	</div>
	<!-- Write closure template -->
	<script type="text/javascript">
		var defFooter = document.getElementById("def-footer");
		defFooter.outerHTML = wet.builder.footer({
		});
	</script>
	<!-- Write closure template -->
	<script type="text/javascript">
		document.write(wet.builder.refFooter({
		}));
	</script>
	</body>
</html>
